body{
    background-color: yellow;
}
#first{
    background-color: black;
    color: white;
    font-size: 21px;
}

#second{
    background-color: white;
    color: black;
    font-size: 27px;
}

span{
    color: red;
    font-style: italic;
}